<template>
  <form @submit="createNote" method="post">
  <div class="total">
  <div class="form">
   <div class="form-total">

     <div class="form-group-1">

       <label>Note id</label><br>
       <input class="adjust" type="text" v-model="note.id">
     </div>

     <div class="form-group-1">
       <label>Note title</label><br>
       <input class="adjust" type="text" v-model="note.title">
     </div>

     <div class="form-group-1">
       <label>Note body</label><br>
       <input class="adjust" type="text" v-model="note.body">
     </div>

     <div class="form-group-1">
       <label>Note Time</label><br>
       <input class="adjust" type="text" v-model="note.time">
     </div>

     <div class="form-group-1">
       <label>Note Image</label><br>
       <input class="adjust" type="text" v-model="note.image">
     </div>

   </div>


  </div>
    <div class="button-total" >
    <button type="submit" class="button-adjust">Create</button>
    </div>

  </div>

  </form>


</template>


<script>
  import Vue from 'vue'
  import axios from 'axios'
  import VueAxios from 'vue-axios'

  Vue.use(VueAxios, axios)

  export default {
    data() {
      return {
        note: {
          id: '',
          title: '',
          body: '',
          time: '',
          image: '',

        }
      }
    },
    methods: {
      createNote(e) {
        this.axios.post("https://arrogant-goose-91014.herokuapp.com/create", this.note)

        .then((result) =>{
            console.warn(result)
        });
          e.preventDefault()


      }
    }
  }

</script>

<style scoped>
  .form-total{
    text-align: center;
  }
  .adjust{
    width: 50%;
    border-radius: .6em;
  }
  label{
    color: maroon;
  }
  .form-group-1{
    margin-top: 2em;
  }
  .button-adjust{
    border-radius: .6em;
    color: maroon;
    padding: 10px 40px;
  }
  .button-total{
    text-align: center;
    margin-top: 2em;
  }

</style>
