<template>
  <div>
   <div class="list" v-for="list in lists" v-bind:key="list.id">
     <h3>Title: {{list.title}}</h3>
     <p> Description: {{list.body}}</p>
     <p> Time: {{list.time}}</p>
     <p> Image: {{list.image}}</p>
     <p> <button v-on:click="deleteUser(list.id)">Delete</button></p>
<!--     <p><button v-on:click="editUser(list.id)">Edit</button> </p>-->
<!---->


   </div>
  </div>



</template>


<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import {list} from "babel-core";

Vue.use(VueAxios,axios)

 export default {
      data(){
       return{
          lists: [],

       }

     },

   mounted() {
          var self = this;
          axios.get('https://arrogant-goose-91014.herokuapp.com/listnotes')
        .then(function (response) {
            self.lists = response.data;
            console.log('Data:', response.data);
        })
        .catch(function (error) {
          console.log('Error', error);
        })
      },

   methods:{
     deleteUser(id){
       console.log('ID:', id);
       this.axios.post('https://arrogant-goose-91014.herokuapp.com/delete',{id})
         .then((response)=>{
           console.warn(response);

         })
     },
     // editUser(id){
     //   this.axios.post('https://arrogant-goose-91014.herokuapp.com/update', {id},)
     //     .then((response)=>{
     //       console.warn(response);
     //
     //     })
     // },
   }

 }


</script>


<style scoped>
.list{
  border: 1px solid maroon;
  margin-bottom: 20px;
}

p{
  font-weight: 800;
}

</style>
