<template>
  <div id="app">

    <router-link to="/">Crude</router-link>
    <router-link to="/list">List</router-link>
    <h2>{{heading}}</h2>
    <router-view />




    </div>

</template>

<script>
  import Crude from './components/Crude.vue'
  import List from "./components/List";


export default {
  name: 'app',
  data(){
    return{
      heading: "Notes Crude",

    }
  },
  components:{
    Crude,
    List,
  }


}
</script>

<style >
  #app{
    text-align: center;
  }

 body  {
   background: url('https://rubies-ibank-test-two.s3-us-west-2.amazonaws.com/img/new-rubies/email-template/yharn-email/background-yharn.png');
 }

 h2{
   text-align: center;
   color: maroon;
 }

  a{
    color: maroon;
    padding-right: 4em;
    padding-left: 1em;

  }


</style>
